:root {
    --orange: #FA8A5F;
    --light-bg: #EAEDF9;
    --white: #fff;
    --dark: #6c757d
}

body {
    background-color: var(--light-bg);
}

.btn-orange {
    background-color: var(--orange);
    color: var(--white);
}

.btn-outline-orange {
    border: 1px solid var(--orange);
    color: var(--orange);
}

.btn-orange:hover {
    background-color: #E17C56;
    color: var(--white);
}

.text-orange {
    color: var(--orange);
}